body {
 background-color: rgb(127, 127, 243);

}

header{
    color: white;
    text-align: center;

}

section{

    background-color: white;
    padding: 150px;
    margin: auto;
    width: 500px;
    border-radius: 10px;


}

footer{
    color: white;
    text-align: center;
    font-size: italic;


}

div#nasc{
 text-align: start;

}